@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Satisfy&display=swap');

.linlee{
  width: 100%;
  height: 100vh;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.linlee h1, .linlee h3{
  font-family: "Satisfy", cursive;
  color: #fff;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.linlee h3{
  font-size: 48px;
}

.linlee h1{
  font-size: 72px;
}

@media (max-width: 768px) {
  .linlee h1{
    font-size: 48px;
  }
  .linlee h3{
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .linlee h1{
    font-size: 32px;
  }
  .linlee h3{
    font-size: 24px;
  }
}