@import url(https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Satisfy&display=swap);@font-face {
  font-family: 'Avenir';
  src: url("/font/Avenir-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: 'Avenir';
  src: url("/font/Avenir-Heavy.ttf");
  font-weight: 800; }

@font-face {
  font-family: 'Avenir';
  src: url("/font/Avenir-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'Avenir';
  src: url("/font/Avenir-Roman.ttf");
  font-weight: 600; }

@font-face {
  font-family: 'Avenir';
  src: url("/font/Avenir-Book.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Avenir';
  src: url("/font/Avenir-Light.ttf");
  font-weight: 200; }

.neurodd-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f8f8; }

.neurodd-header-img {
  display: block;
  width: 30rem;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

.neurodd-header-subtitle {
  font-size: 1.6rem;
  font-family: 'Avenir';
  font-weight: lighter;
  letter-spacing: .1rem;
  text-align: center; }

.extra-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  margin-bottom: 10rem; }

.neurodd-main-text {
  font-size: 1.8rem;
  font-weight: lighter;
  margin-top: 2.5rem;
  line-height: 2.8rem; }

.neurodd-main-text a {
  color: #000;
  font-weight: bold; }

.neurodd-main-header {
  font-size: 3.6rem;
  margin-top: 5rem;
  font-weight: heavy;
  letter-spacing: .1rem; }

.neurodd-sub-header {
  font-size: 2.4rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  margin-top: .3rem; }

.neurodd-date-line {
  font-style: italic;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 2rem; }

.neurodd-block-seperator {
  width: 50%;
  height: 1px;
  background: #aaa;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none; }

* {
  font-family: 'Avenir', sans-serif; }

body, html {
  min-height: 100%;
  scroll-behavior: smooth; }

button, input[type="submit"] {
  cursor: pointer; }

button:focus, input:focus, select:focus {
  outline: none; }

button:disabled {
  cursor: default; }

.linlee {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.linlee h1, .linlee h3 {
  font-family: "Satisfy", cursive;
  color: #fff;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px; }

.linlee h3 {
  font-size: 48px; }

.linlee h1 {
  font-size: 72px; }

@media (max-width: 768px) {
  .linlee h1 {
    font-size: 48px; }
  .linlee h3 {
    font-size: 32px; } }

@media (max-width: 480px) {
  .linlee h1 {
    font-size: 32px; }
  .linlee h3 {
    font-size: 24px; } }

* {
  overflow-x: hidden; }

.container {
  max-width: 154rem;
  margin-left: auto;
  margin-right: auto; }

.logo {
  padding-top: 3rem;
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.bold {
  font-weight: bold; }

.landing {
  background-color: #E6EEF8;
  position: relative;
  padding-bottom: 350px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-bottom: -320px; }

.landing-svg-corner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  z-index: 1; }

.landing-btns {
  display: flex;
  flex-direction: row;
  float: right; }

.btn-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #478AD3;
  padding: 12px 15px;
  border-radius: 3px;
  border: 2px solid #478AD3;
  margin-top: 25px;
  background: none; }

.btn-contact-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 12px 15px;
  border-radius: 3px;
  border: 2px solid #478AD3;
  margin-top: 25px;
  background: #478AD3;
  margin-left: 10px; }

.btn-contact-2 img {
  filter: brightness(0) invert(1); }

.btn-contact p {
  margin-right: 10px;
  font-size: 16px; }

.landing-title {
  font-size: 96px;
  color: #478AD3;
  font-weight: 900; }

.landing-subtitle {
  font-size: 36px;
  font-weight: normal; }

hr {
  width: 30%;
  margin-top: 30px;
  background-color: #478AD3; }

.landing-text {
  font-weight: 200;
  font-size: 24px;
  line-height: 42px;
  margin-top: 40px;
  padding-right: 5%; }

.landing-content {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.landing-content-left {
  width: 55%; }

.landing-content-right {
  width: 45%; }

.landing-content-right img {
  width: 100%; }

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 30px; }

.icon {
  font-size: 32px;
  color: #478AD3;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px; }

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #478AD3;
  margin-top: 100px; }

.scroll-down-text {
  font-size: 20px;
  font-weight: 200; }

.scroll-down-icon {
  font-size: 20px;
  overflow: hidden; }

.showcase {
  width: calc(100% - 100px);
  margin-top: 75px;
  margin-left: 50px;
  border-radius: 5px;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 75px;
  background-color: rgba(255, 255, 255, 0.7); }

.showcase-content {
  width: calc(90% + 10px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.showcase-content-left {
  width: 35%; }

.showcase-title {
  font-size: 48px;
  font-weight: 800; }

.showcase-subtitle {
  font-size: 24px;
  font-weight: 200; }

.showcase-languages {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px; }

.showcase-language {
  font-size: 14px;
  font-weight: 300;
  margin-right: .5rem;
  padding: 5px 10px;
  border: 1px solid #939393;
  border-radius: 50px;
  background-color: none;
  color: #666; }

.showcase-text {
  font-size: 18px;
  line-height: 36px;
  font-weight: 200; }

.btn-showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #478AD3;
  padding: 15px 20px;
  border-radius: 3px;
  border: 2px solid #478AD3;
  margin-top: 40px;
  background: none;
  text-decoration: none;
  width: fit-content; }

.btn-showcase p {
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: normal; }

.showcase-content-right {
  width: 65%; }

.showcase-content-right img {
  width: 100%; }

.portfolio {
  background-color: #fbfbfb; }

.portfolio-title {
  font-size: 64px;
  text-align: center;
  font-weight: 800; }

.portfolio-toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; }

.portfolio-toggle {
  font-size: 24px;
  font-weight: 500;
  width: 250px;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 0px 5px;
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .2s all; }

.portfolio-toggle:hover {
  cursor: pointer; }

.portfolio-toggle img {
  margin-right: 10px; }

.portfolio-toggle-active {
  background: #478AD3;
  color: white;
  transition: .2s all; }

.portfolio-toggle-active img {
  filter: brightness(0) invert(1); }

.portfolio-content {
  overflow: hidden;
  display: grid;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px; }

.portfolio-content-ui {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px; }

.portfolio-project-container {
  border-radius: 3px;
  background: white;
  border-bottom: 10px solid #478AD3;
  padding-bottom: 30px; }

.portfolio-project-image {
  width: 100%; }

.portfolio-project-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.portfolio-project-title {
  font-size: 24px;
  padding-left: 20px;
  margin-top: 30px; }

.portfolio-project-subtitle {
  font-size: 14px;
  padding-left: 20px;
  color: #478AD3;
  font-weight: 300; }

.portfolio-project-chevron {
  font-size: 20px;
  color: #666;
  padding-right: 20px;
  padding-top: 20px;
  transition: .5s all; }

.portfolio-project-chevron:hover {
  font-size: 24px;
  cursor: pointer; }

.inverted {
  transform: scale(1, -1); }

.portfolio-project-description {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 24px;
  padding-left: 20px;
  margin-right: 20px; }

.portfolio-project-languages {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 20px; }

.portfolio-project-language {
  padding: 5px 10px;
  color: #666;
  border: 1px solid #666;
  background: none;
  margin-right: 7px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 300; }

.portfolio-project-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 20px; }

.portfolio-project-button {
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center; }

.portfolio-project-button a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: 10px; }

.portfolio-project-uibutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-right: 20px;
  color: #478AD3;
  padding: 10px 15px;
  margin-top: 30px;
  border-radius: 3px;
  border: 2px solid #478AD3;
  background: none; }

.portfolio-project-uibutton p {
  margin-right: 10px;
  font-size: 20px;
  font-weight: normal; }

.story {
  background: #fbfbfb; }

.story h2, .story h4 {
  text-align: center; }

.story h2 {
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: 800; }

.story h4 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px; }

.story-content {
  width: 90%;
  max-width: 1000px;
  padding: 30px;
  background: white;
  border-radius: 5px;
  margin: 70px auto;
  overflow: hidden; }

.story-paragraph {
  line-height: 40px;
  font-size: 18px;
  padding-bottom: 30px;
  font-weight: 300; }

.skills {
  background: #E6EEF8;
  width: 100%;
  border-right: 50px solid #478AD3;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 70px; }

.skills-title {
  font-size: 48px;
  color: #478AD3;
  padding-bottom: 40px;
  font-weight: 900; }

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-left: auto;
  margin-right: auto; }

.skills-col-title {
  font-size: 20px;
  padding-bottom: 30px;
  color: #478AD3;
  text-transform: uppercase; }

.skills-col-item {
  color: black;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px; }

.footer {
  background-color: #E6EEF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 20px solid #478AD3; }

.footer-image {
  width: 250px;
  margin-top: 40px; }

.footer-top {
  color: #478AD3;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px; }

.footer-top:hover, .footer-arrow:hover {
  cursor: pointer; }

.footer-links {
  color: #478AD3;
  padding: 0;
  margin: 0;
  margin-top: -20px; }

.footer-arrow {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-top: 20px;
  color: #478AD3; }

@media screen and (max-width: 1200px) {
  .portfolio-content-ui, .portfolio-content {
    grid-gap: 25px; }
  .landing-title {
    font-size: 72px; } }

@media screen and (max-width: 1000px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr; }
  .landing-subtitle {
    font-size: 28px; }
  .landing-text {
    font-size: 22px; }
  .showcase-content-left {
    width: 45%; }
  .showcase-content-right {
    width: 55%; }
  .showcase-title {
    font-size: 36px; }
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 880px) {
  .landing-title {
    font-size: 60px; }
  .landing-subtitle {
    font-size: 24px; }
  .landing-text {
    font-size: 20px; }
  .showcase-title {
    font-size: 30px; } }

@media screen and (max-width: 750px) {
  .landing-content {
    flex-direction: column;
    margin-top: 150px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px; }
  .landing-content-left, .landing-content-right {
    width: 100%; }
  .landing-content-right {
    width: 90%;
    margin-top: 50px; } }

@media screen and (max-width: 700px) {
  .portfolio-content, .portfolio-content-ui {
    grid-template-columns: 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .skills-container {
    grid-template-columns: 1fr 1fr; }
  .showcase-content {
    flex-direction: column;
    margin-top: 50px;
    width: 95%; }
  .showcase {
    width: 92.5%;
    margin-left: auto;
    margin-right: auto; }
  .showcase-content-left {
    width: 90%; }
  .showcase-content-right {
    width: 90%;
    margin-top: 50px; }
  .showcase-languages {
    margin-bottom: 20px; }
  .btn-showcase {
    margin-top: 20px; }
  .story h4 {
    font-size: 20px; } }

@media screen and (max-width: 550px) {
  .story-content {
    padding: 5px; }
  .portfolio-content, .portfolio-content-ui {
    width: 90%; }
  .btn-showcase {
    padding: 10px 15px; }
  .btn-showcase p {
    font-size: 16px; }
  .portfolio-title {
    font-size: 48px; }
  .portfolio-toggle {
    font-size: 18px;
    padding: 8px 0px;
    width: 200px; }
  .portfolio-toggle img {
    margin-right: 5px; } }

@media screen and (max-width: 450px) {
  .portfolio-content, .portfolio-content-ui {
    width: 100%; }
  .landing {
    padding-bottom: 300px; }
  .landing-title {
    font-size: 54px; }
  .landing-subtitle {
    font-size: 22px; }
  hr {
    display: none; }
  .skills {
    border-right: none;
    border-bottom: 20px solid #478AD3; }
  .skills-container {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center; }
  .skills-title {
    text-align: center; }
  .showcase {
    margin-bottom: 20px; }
  .portfolio-title {
    font-size: 40px;
    margin-top: 20px; } }

@media screen and (max-width: 400px) {
  .portfolio-toggle {
    font-size: 14px;
    padding: 8px 0px;
    width: 150px; }
  .portfolio-toggle img {
    margin-right: 5px;
    width: 20px; }
  .landing-btns {
    float: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; }
  .landing-content {
    margin-top: 75px; }
  .landing-title {
    font-size: 46px;
    text-align: center;
    margin-top: 0px; }
  .landing-subtitle {
    font-size: 20px;
    text-align: center; }
  .landing-text {
    font-size: 18px;
    text-align: center;
    line-height: 32px; }
  .icons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    padding: 5px; }
  .footer-links {
    margin-top: 20px; }
  .btn-contact p {
    font-size: 12px; }
  .story-paragraph {
    line-height: 28px;
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: 300; } }

.bgbintro {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.bgbintro-top {
  display: flex;
  flex-direction: row;
  padding-bottom: 10rem; }

.bgbintro-top-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.bgbintro-img {
  width: 30%;
  margin-left: 5%;
  display: block; }

.bgb-section-header-title, .bgbimpact-title {
  font-size: 4.8rem;
  padding-bottom: 2rem; }

.bgbintro-top-text {
  font-size: 2.4rem;
  font-weight: lighter;
  line-height: 4.8rem; }

.bgbintro-graphs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }

.bgbintro-graph {
  width: 27.5%; }

.bgbcovid {
  background: #f4f8f3;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-bottom: 4rem solid #b5d4ae; }

.bgbcovid-inner {
  width: calc(100% - 20rem);
  background: white;
  border-radius: 1rem;
  padding: 10rem; }

.bgbcovid-title {
  font-size: 3.6rem;
  font-weight: lighter;
  padding-bottom: 1rem; }

.bgbcovid-text {
  font-size: 2.4rem;
  font-weight: lighter;
  line-height: 4.8rem;
  width: 70%; }

.bgbcauses {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.bgbcauses-title {
  font-size: 4.8rem;
  text-align: center;
  padding-bottom: 8rem; }

.bgbcauses-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }

.bgbcauses-item {
  display: flex;
  flex-direction: row;
  width: 47.5%; }

.bgbcauses-item-img {
  width: 12rem;
  height: 12rem;
  display: block; }

.bgbcauses-item-text {
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  width: 70%; }

.bgbcauses-item-text-title {
  font-size: 3rem;
  padding-bottom: 2rem; }

.bgbcauses-item-text-info {
  font-size: 2.4rem;
  line-height: 4.8rem;
  width: 90%; }

.bgbbenefits {
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-bottom: 4rem solid #b5d4ae;
  background: #f4f8f3; }

.bgbbenefits-title {
  font-size: 4.8rem;
  padding-bottom: 8rem;
  text-align: center; }

.bgbbenefits-tiles {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; }

.bgbbenefits-tile {
  background: white;
  box-shadow: 0rem .2rem .4rem #aaa;
  border-radius: .6rem;
  width: calc(25% - 4rem); }

.bgbbenefits-tile-img {
  display: block;
  width: 10rem;
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto; }

.bgbbenefits-tile-text {
  text-align: center;
  padding-top: 3rem;
  font-size: 2.4rem;
  padding-bottom: 8rem; }

.bgbimpact-subtitle {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 4.8rem; }

.bgbimpact {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.bgbimpact-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.bgbimpact-tile {
  padding: 10rem;
  box-shadow: 0rem 0rem .4rem #aaa;
  border-radius: .8rem; }

.bgbimpact-tile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem; }

.bgbimpact-tile-title {
  font-size: 3.6rem;
  margin-top: 1.5rem;
  text-align: center; }

.bgbimpact-tile-text {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1rem; }

@media screen and (max-width: 600px) {
  .landing {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .logo {
    width: 8rem;
    height: 8rem; }
  .landing-title-smaller {
    font-size: 4.8rem;
    width: 85%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto; }
  .landing-subtitle-smaller {
    font-size: 2rem;
    width: 85%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto; }
  .landing-header-text {
    font-size: 3.6rem;
    line-height: 4.8rem; }
  .landing-header-logo {
    width: 4.8rem;
    height: 4.8rem; }
  .bgbintro-top {
    flex-direction: column; }
  .bgbintro-top-info {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
  .bgbintro-img {
    display: none; }
  .bgbintro-graphs {
    flex-direction: column;
    align-items: center; }
  .bgbintro-graph {
    width: 50%;
    padding-bottom: 5rem; }
  .bgbcovid-inner {
    padding: 5rem;
    width: calc(95% - 10rem);
    margin-left: auto;
    margin-right: auto; }
  .bgbcovid-text {
    width: 100%; }
  .bgbcauses-items {
    flex-direction: column;
    align-items: center; }
  .bgbcauses-item {
    width: 90%;
    padding-bottom: 4rem; }
  .bgbbenefits-tiles {
    flex-direction: column;
    align-items: center; }
  .bgbbenefits-tile {
    width: 70%;
    margin-bottom: 3rem; }
  .bgbbenefits-tile-img {
    height: 7.5rem;
    width: 7.5rem; }
  .bgbimpact-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.6rem; }
  .bgbimpact-subtitle {
    font-size: 2.4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .bgbimpact-tiles {
    flex-direction: column;
    align-items: center; }
  .bgbimpact-tile {
    width: 90%;
    margin-bottom: 3rem; }
  .bgbimpact-tile-title {
    font-size: 3.6rem; } }

/*# sourceMappingURL=styles.css.map*/