*{
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

*{
    font-family: 'Avenir', sans-serif;
}
body,html{
    min-height: 100%;
    scroll-behavior: smooth;
}
button, input[type="submit"]{
    cursor: pointer;
}

button:focus, input:focus, select:focus{
    outline: none;
}

button:disabled{
    cursor: default;
}